body {
    background: transparent url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cheap_diagonal_fabric.png") repeat scroll 0% 0%;
    font-family: Verdana, Geneva, sans-serif;
}

nav, footer, main {
    max-width: 1000px;
    max-width: 960px;
    padding: 20px;
    margin: auto;
    color: white;

}

header{
    margin-top: 50px;
}



main {
  margin: 50px auto 0 auto;
	height: auto;
	min-height: 100%;
}

#section_countdown, .events article {
  background-color: rgba(255,255,255,0.3);
  margin: 10px 0;
  border-radius: 10px;
  padding: 50px;
  color: darkgray;
}

/*CLOCK CSS*/

#CDT {
    font-size: 60px;
    color: #eee;
    /*margin: 70px 0 100px;*/
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
}

#CDT .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}

#CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #777;
}

#facebookdiv {
    text-align: right;
}

#facebooklink {
    color: #0b7c9c;
}





footer {
		position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: small;

}

 /* link reset color */
a:link, a:visited, a:hover, a:active  {
    color: white;
	text-decoration: none;
}

nav {
    padding: 0;
}

/* NAVIGATION - start*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;
    background-color: rgba(55,55,55,0.5);*/
}

nav ul li {
    float: right;
	margin-right: 10px;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
    background-color: #333;
}

nav ul .active {
    background-color: #0b7c9c;
}

nav ul .notactive {
	background-color: #9eb3ba;
}

/* NAVIGATION - end*/



@media screen and (max-width: 480px) {
	footer {
		position: relative;
    margin-top: 50px;
		font-size: x-small;
	}

	footer span {
		display: block;
	}

  #section_countdown{
    padding: 10px;
  }

  #CDT {
      font-size: 30px;
  }

  #CDT .number{
    padding: 0 6px;
  }

	#example ul li {
    font-size: 16px;
    width: 6px;
    margin-left: 0px;
	}

	#example ul li:nth-of-type(3) {
    margin-right: 220px;
	}
}




#example ul
{
width: 620px;
margin: 0 auto;
height: 115px;
position: relative;
overflow: hidden;
}
#example ul li
{
list-style:none;
float:left;
font-size:30px;
margin-top:18px;
padding:10px;
width:16px;
margin-left:5px;
color:#000;
}
#example ul li:nth-of-type(1)
{
top:40px;
left:10px;
background: #0b7c9c;
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}
#example ul li:nth-of-type(2)
{
top:40px;
left:55px;
background:#0e98c0;
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}
#example ul li:nth-of-type(3)
{
top:40px;
left:100px;
background: #35bfe7;
margin-right: 30px;
-webkit-transform: rotate(15deg);
-moz-transform: rotate(15deg);
}
#example ul li:nth-of-type(4)
{
top:40px;
left:145px;
background: #6acdea;
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
}
#example ul li:nth-of-type(5)
{
top:40px;
left:190px;
background: #7ee0fc;
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}
#example ul li:nth-of-type(6)
{
top:50px;
/*left:200px;*/
background: #45e8fb;
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
}
#example ul li:nth-of-type(7)
{
top:40px;
left:10px;
background: #0b7c9c;
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}
#example ul li:nth-of-type(8)
{
top:40px;
left:55px;
background:#0e98c0;
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}
#example ul li:nth-of-type(9)
{
top:40px;
left:100px;
background: #35bfe7;
-webkit-transform: rotate(15deg);
-moz-transform: rotate(15deg);
}
#example ul li:nth-of-type(10)
{
top:40px;
left:145px;
background: #6acdea;
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
}
#example ul li:nth-of-type(11)
{
top:40px;
left:190px;
background: #7ee0fc;
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}
#example ul li:nth-of-type(12)
{
top:50px;
/*left:200px;*/
background: #45e8fb;
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
}
#example ul li:nth-of-type(13)
{
top:40px;
left:190px;
background: #7ee0fc;
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);
}
#example ul li:nth-of-type(14)
{
top:50px;
/*left:200px;*/
background: #45e8fb;
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
}

#eventtitle {
    font-size: 36px;
}

/*
COLUMNS
 */

.column-container::after {
    content: "";
    clear: both;
    display: block;
}

.column-left {
    width: 45%;
    padding: 2.5%;
}

.column-right {
    width: 45%;
    padding: 2.5%;
}

@media only screen and (max-width: 768px) {
    [class*="column-"] {
        width: 95%;
        padding: 2.5%;
    }
}

[class*="column-right"] {
    float: right;
}

[class*="column-left"] {
    float:left;
}

.os-night-title {
    background-color: rgba(255,255,255,0.3);
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    color: darkgray;
    text-align: center;
    font-size: 24px;
}